.circle {
  width: 6vw;
  height: 6vw;
  position: relative;
  -webkit-transition: 250ms opacity ease-in-out;
  -o-transition: 250ms opacity ease-in-out;
  transition: 250ms opacity ease-in-out;
}

.circleWrapper {
  width: 3vw;
  height: 8vw;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.circleWrapperRight {
  right: 0;
}

.circleWrapperLeft {
  left: 0;
}

.wholeCircle {
  width: 4.9vw;
  height: 4.9vw;
  border: 0.6vw solid transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.circleRight {
  border-top: 0.6vw solid #fff;
  border-right: 0.6vw solid #fff;
  right: 0;
  -webkit-animation: circleRight 500ms linear forwards;
          animation: circleRight 500ms linear forwards;
}

.circleLeft {
  border-bottom: 0.6vw solid #fff;
  border-left: 0.6vw solid #fff;
  left: 0;
  -webkit-animation: circleLeft 500ms linear forwards;
          animation: circleLeft 500ms linear forwards;
}

@-webkit-keyframes circleRight {
  0% {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes circleRight {
  0% {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes circleLeft {
  0%,
  50% {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes circleLeft {
  0%,
  50% {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
